{% extends 'index.html' %}
{% block title %}Error 500{% endblock %}
{% block conteiner %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('\../static/assets/img/post-sample-image.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>ERROR 500!!!</h1>
                    <h2 class="subheading"></h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <span class="meta">
                    Está perdido? Por favor retorne ao <a href="{% url 'home' %}">Home</a>
                    <br>
                    <a class="img-fluid" href="{% url 'home' %}"><img src="\../static/assets/img/error-404.png"/></a>
                    <span class="caption text-muted">Error 404</span>
                </span>
            </div>
        </div>
    </div>
</article>

{% endblock %}